# Installation and Import

In [1]:
!python -m pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-win_amd64.whl (382 kB)
     ------------------------------------ 382.5/382.5 kB 952.1 kB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     -------------------------------------- 283.7/283.7 kB 2.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [3]:
import pymongo

# Creating Client

In [4]:
new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['Cricinfo']

In [6]:
new_col = new_db['Players']

new_rec = { "name":"Rohitu" , "Designation":"Hitman"}

adding = new_col.insert_one(new_rec)

print(adding)

<pymongo.results.InsertOneResult object at 0x000001E607E5D6C0>

In [7]:
print(adding.inserted_id)

63f9832c1acb410cb3efbb08

In [12]:
new_players = [
     { "name":"Virattu" , "Designation":"King18"},
     { "name":"Pujji" , "Designation":"BhagBsdk"},
     { "name":"Iyer", "designation":"Chahal's wife Hunter"},
     { "name":"Venkatesh Iyer", "designation":"One Second Phase Player"},
     { "name":"Shami", "designation":"Milkman"}
]

adding_many = new_col.insert_many(new_players) #use Many here

print(adding)

<pymongo.results.InsertManyResult object at 0x000001E60B39B910>

# Finding the data

In [14]:
find = new_col.find_one()
print(find)

{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}

In [16]:
for x in new_col.find():
    print(x)

{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f984e61acb410cb3efbb0d'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb11'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': 1, 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb19'), 'name': 'Shami', 'designation': 'Milkman'}

In [18]:
new_query = { 'name': 'Virattu'}

new_find = new_col.find(new_query)

for x in new_find:
    print(x)

{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': 1, 'name': 'Virattu', 'Designation': 'King18'}

In [22]:
new_query = { 'name': {'$gt': 'V'}}

new_find = new_col.find(new_query)

for x in new_find:
    print(x)

{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': 1, 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}

In [23]:
new_query = new_col.find().sort('name')

for x in new_query:
    print(x)

{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb0d'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986a61acb410cb3efbb11'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986d31acb410cb3efbb19'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': 1, 'name': 'Virattu', 'Designation': 'King18'}

In [24]:
new_query = new_col.find().sort('name',-1)

for x in new_query:
    print(x)

{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': 1, 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f984e61acb410cb3efbb0d'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986a61acb410cb3efbb11'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986d31acb410cb3efbb19'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}

In [26]:
new_query = { '_id': 1}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f984e61acb410cb3efbb0d'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': '1', 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb11'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb19'), 'name': 'Shami', 'designation': 'Milkman'}

In [29]:
new_query = { '_id': "1"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f984e61acb410cb3efbb0d'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb11'), 'name': 'Shami', 'designation': 'Milkman'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb19'), 'name': 'Shami', 'designation': 'Milkman'}

In [39]:
new_query = { 'name': 'Shami'}

new_col.delete_many(new_query)

for x in new_col.find():
    print(x)

{'_id': ObjectId('63f9832c1acb410cb3efbb08'), 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f984e61acb410cb3efbb09'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f984e61acb410cb3efbb0a'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f984e61acb410cb3efbb0b'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f984e61acb410cb3efbb0c'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986a61acb410cb3efbb0e'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986a61acb410cb3efbb0f'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986a61acb410cb3efbb10'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f986d31acb410cb3efbb16'), 'name': 'Pujji', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f986d31acb410cb3efbb17'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f986d31acb410cb3efbb18'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}

# Drop whole record

In [42]:
new_query = {}

x = new_col.delete_many(new_query)

print(x.deleted_count)

11

# Now Collection

In [49]:
new_col.drop()

# Remaking DB

In [50]:
new_client = pymongo.MongoClient('mongodb://localhost:27017')

new_db = new_client['Cricinfo']

new_col = new_db['Players']

new_rec = {"_id":1, "name":"Rohitu" , "Designation":"Hitman"}

adding = new_col.insert_one(new_rec)

print(adding)

<pymongo.results.InsertOneResult object at 0x000001E60B77FBE0>

In [51]:
new_players = [
     { "name":"Virattu" , "Designation":"King18"},
     { "name":"Pujji" , "Designation":"BhagBsdk"},
     { "name":"Iyer", "designation":"Chahal's wife Hunter"},
     { "name":"Venkatesh Iyer", "designation":"One Second Phase Player"},
     { "name":"Shami", "designation":"Milkman"}
]

adding_many = new_col.insert_many(new_players) #use Many here

print(adding)

<pymongo.results.InsertOneResult object at 0x000001E60B77FBE0>

In [54]:
new_query = { 'name':'Pujji'}

new_val = {'$set': {'name':'Pujara'}}

new_rec = new_col.update_one(new_query,new_val)

In [56]:
for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'Rohitu', 'Designation': 'Hitman'}
{'_id': ObjectId('63f9944f1acb410cb3efbb22'), 'name': 'Virattu', 'Designation': 'King18'}
{'_id': ObjectId('63f9944f1acb410cb3efbb23'), 'name': 'Pujara', 'Designation': 'BhagBsdk'}
{'_id': ObjectId('63f9944f1acb410cb3efbb24'), 'name': 'Iyer', 'designation': "Chahal's wife Hunter"}
{'_id': ObjectId('63f9944f1acb410cb3efbb25'), 'name': 'Venkatesh Iyer', 'designation': 'One Second Phase Player'}
{'_id': ObjectId('63f9944f1acb410cb3efbb26'), 'name': 'Shami', 'designation': 'Milkman'}