In [1]:
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.19.6)

In [2]:
import mysql.connector

In [3]:
new_db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password =''
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023CF34DC2B0>

#  Creating a Database

In [10]:
import mysql.connector
new_db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password =''
)
new_cursor = new_db.cursor()
new_cursor.execute("Create Database new data")

In [11]:
new_cursor.execute('show databases')

for n in new_cursor:
    print(n)

('demos',)
('grafana_demo',)
('grafana_test',)
('information_schema',)
('loginsystem',)
('mysql',)
('nabin',)
('new_schema',)
('newdata',)
('performance_schema',)
('phpmyadmin',)

# Creating Table and Showing data

In [13]:
import mysql.connector
new_db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password ='',
    database = 'newdata'
)
new_cursor = new_db.cursor()

new_cursor.execute("Create Table students(name varchar(255), code varchar(255))")

# List all tables in given database

In [15]:
new_cursor.execute("Show Tables")

for x in new_cursor:
    print(x)

('students',)

# Add Primary Key

In [17]:
new_cursor.execute("Create Table Clients(id int Auto_Increment Primary Key,name varchar(255), code varchar(255))")

# Alter when Table already Exist

In [18]:
new_cursor.execute("Alter Table students Add Column id int Auto_INCREMENT Primary Key")

# Insert Data Into Table

In [21]:
new_sql = "Insert into students(name,code) values(%s,%s)"
new_vals = ("Rohit", "Code69")

new_cursor.execute(new_sql,new_vals)

In [22]:
#to commit the changes
new_db.commit()

In [23]:
print(new_cursor.rowcount)

1

# Insert Many Records

In [25]:
#should use executemany
new_sql = "Insert into students(name,code) values(%s,%s)"
new_vals = [
    ("virat","King18"),
    ("pujii","BakBddk"),
    ("Gill","SarahHunter"),
    ("Bumrah","InjuryKIng")
]

new_cursor.executemany(new_sql,new_vals)

In [27]:
new_db.commit()

In [30]:
print(new_cursor.rowcount)

4

# Select Table's Data

In [32]:
new_cursor.execute("Select * from students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rohit', 'Code69', 1)
('virat', 'King18', 2)
('pujii', 'BakBddk', 3)
('Gill', 'SarahHunter', 4)
('Bumrah', 'InjuryKIng', 5)

In [34]:
new_cursor.execute("Select name,code from students")
new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rohit', 'Code69')
('virat', 'King18')
('pujii', 'BakBddk')
('Gill', 'SarahHunter')
('Bumrah', 'InjuryKIng')

In [35]:
#FETCH ONE
new_cursor.execute("Select name,code from students")
new_data = new_cursor.fetchone()

for x in new_data:
    print(x)

Rohit
Code69

# Filter The Results(where)

In [47]:
#FETCH ONE
new_cursor.execute("Select name,code from students")
new_data = new_cursor.fetchone()

for x in new_data:
    print(x)

Rohit
Code69

In [48]:
import mysql.connector
new_db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password ='',
    database = 'newdata'
)
new_cursor = new_db.cursor()

new_sql = " Select * from students where name ='Rohit' "

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rohit', 'Code69', 1)

In [50]:
import mysql.connector
new_db = mysql.connector.connect(
    host='localhost',
    user = 'root',
    password ='',
    database = 'newdata'
)
new_cursor = new_db.cursor()

new_sql = " Select * from students where name like '%R%' "

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rohit', 'Code69', 1)
('virat', 'King18', 2)
('Bumrah', 'InjuryKIng', 5)

In [51]:
new_cursor = new_db.cursor()

new_sql = " Select * from students where name like '%t%' "

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Rohit', 'Code69', 1)
('virat', 'King18', 2)

# Order By to Sort The result

In [52]:
new_cursor = new_db.cursor()

new_sql = " Select * from students order by name desc "

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('virat', 'King18', 2)
('Rohit', 'Code69', 1)
('pujii', 'BakBddk', 3)
('Gill', 'SarahHunter', 4)
('Bumrah', 'InjuryKIng', 5)

In [53]:
new_cursor = new_db.cursor()

new_sql = " Select * from students order by name"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Bumrah', 'InjuryKIng', 5)
('Gill', 'SarahHunter', 4)
('pujii', 'BakBddk', 3)
('Rohit', 'Code69', 1)
('virat', 'King18', 2)

# Delete from the table

In [63]:
new_cursor = new_db.cursor()

new_sql = " Delete from students where name='pujii' "

new_cursor.execute(new_sql)

new_db.commit()

In [65]:
new_cursor = new_db.cursor()

new_sql = " Select * from students order by name"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

print(new_cursor.rowcount)

('Bumrah', 'InjuryKIng', 5)
('Gill', 'SarahHunter', 4)
('Rohit', 'Code69', 1)
('virat', 'King18', 2)
4

In [69]:
new_cursor = new_db.cursor()

new_sql = " Delete from students where name= %s "
name = ("gill",)

new_cursor.execute(new_sql,name)

new_db.commit()

0

In [70]:
new_cursor = new_db.cursor()

new_sql = " Select * from students order by name"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

print(new_cursor.rowcount)

('Bumrah', 'InjuryKIng', 5)
('Rohit', 'Code69', 1)
('virat', 'King18', 2)
3

# Removing Tables

In [78]:
new_cursor = new_db.cursor()

new_cursor.execute("Show Tables")

for x in new_cursor:
    print(x)

('clients',)
('students',)

In [84]:
new_cursor = new_db.cursor()

new_sql = "DROP TABLE clients"

new_cursor.execute(new_sql)

new_db.commit()

In [85]:
new_cursor = new_db.cursor()

new_cursor.execute("Show Tables")

for x in new_cursor:
    print(x)

('students',)

In [86]:
new_cursor = new_db.cursor()

new_sql = "DROP TABLE if exists clients"

new_cursor.execute(new_sql)

new_db.commit()

# Updating tables

In [88]:
new_cursor = new_db.cursor()

new_sql = "update students set name='Hitman' where name='Rohit'"

new_cursor.execute(new_sql)

new_db.commit()

In [89]:
new_cursor = new_db.cursor()

new_sql = " Select * from students order by name"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

print(new_cursor.rowcount)

('Bumrah', 'InjuryKIng', 5)
('Hitman', 'Code69', 1)
('virat', 'King18', 2)
3