In [1]:
import sqlite3

# Creating new Connections

In [2]:
new_connection = sqlite3.connect("Cricket.db")

In [4]:
type(new_connection)

sqlite3.Connection

In [6]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [7]:
new_cursor = new_connection.cursor()

In [8]:
type(new_cursor)

sqlite3.Cursor

In [9]:
print(type(new_cursor))

<class 'sqlite3.Cursor'>

# Simple Local Time

In [10]:
new_sql = "Select datetime('now','localtime');"

In [11]:
print(new_sql)

Select datetime('now','localtime');

In [12]:
new_cursor.execute(new_sql)

In [13]:
new_cursor.fetchone()

('2023-02-24 20:44:28',)

In [16]:
new_dateTime = new_cursor.execute(new_sql).fetchone()[0]

In [17]:
print(new_dateTime)

2023-02-24 20:48:03

# To close the Connection

In [18]:
new_connection.close()

# Again Doing EveryThing

In [21]:
with sqlite3.connect("cricket.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_db = "Select datetime('now','localtime');"
    newDate=new_cursor.execute(new_db).fetchone()[0]
    print(newDate)

2023-02-24 20:54:45

# Create Table with values

In [22]:
import sqlite3

new_connection = sqlite3.connect("cricket.db")

new_cursor = new_connection.cursor()

new_sql = "Create Table clients(id int, name text)"
new_cursor.execute(new_sql)

In [31]:
new_sql = "Insert into clients(id,name) values(?,?)"
value = [(1,'Rohit'),(2,'virat'),(3,"gill")]
new_cursor.execute(new_sql,value)

ProgrammingError: Cannot operate on a closed database.

In [29]:
new_connection.commit()

In [30]:
new_connection.close()

In [32]:
new_connection = sqlite3.connect("cricket.db")

new_cursor = new_connection.cursor()

In [39]:
new_sql = "Insert into clients(id,name) values(?,?)"
value = (1,'Rohit')
new_cursor.execute(new_sql,value)

In [40]:
new_sql = "Insert into clients(id,name) values(?,?)"
value = (2,'Virat')
new_cursor.execute(new_sql,value)

In [42]:
new_connection.commit()

In [43]:
new_connection.close()

# Seleting the required field

In [46]:
import sqlite3
new_connection = sqlite3.connect("cricket.db")

new_cursor = new_connection.cursor()

In [47]:
new_sql = "select * from clients"

new_cursor.execute(new_sql)

for x in new_cursor:
    print(x)

(1, 'Rohit')
(1, 'Rohit')
(2, 'Virat')

In [49]:
new_sql = "Insert into clients(id,name) values(?,?)"
value = [(2,'Virat'),(3,'gill'),(4,'pujara'),(5,'Ashwin'),(6,'jaddu')]
new_cursor.executemany(new_sql,value)

In [50]:
new_sql = "select * from clients"

new_cursor.execute(new_sql)

for x in new_cursor:
    print(x)

(1, 'Rohit')
(1, 'Rohit')
(2, 'Virat')
(2, 'Virat')
(3, 'gill')
(4, 'pujara')
(5, 'Ashwin')
(6, 'jaddu')

In [51]:
#If you want to drop the table
#drop table clients(Use If exists if confused whether it exists)

In [52]:
new_connection.commit()
new_connection.close()

# All in One

In [53]:
import sqlite3

new_values = (
    ("Dohni", 7),
    ("Rohit", 45),
    ("Virat", 18),
    ("Bumrah", 93),
    ("Sachain",10),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
    
    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)
    
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 10;")
    
    for x in new_cursor.fetchall():
        print(x)

('Rohit', 45)
('Virat', 18)
('Bumrah', 93)

In [54]:
new_cursor.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [55]:
new_connection.commit()

In [56]:
New_connection.close()

NameError: name 'New_connection' is not defined

In [57]:
new_connection.close()